.ListFiles-btn-delete {
	background: #e4685d;
}

.ListFiles-btn-link {
	background-color: #ffa000;
}

.ListFiles-btn-page {
	background: #eee;
}

.ListFiles-copy-link {
	width: 100%;
	height: 30px;
	overflow: auto;
	white-space: nowrap;
	background: #eee;
	margin-left: 10px;
}

.ListFiles-table {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.ListFiles-name-container {
	display: flex;
	flex-direction: column;
}

.ListFiles-name-text {
	margin: 0;
}

.ListFiles-copy-link-container {
	max-width: 600px;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
