.FileUpload {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.FileUpload-container {
    display: flex;
    align-items: center;
}

.FileUpload-input-file {
    width: 100%;
    height: 100%;
}


input[type=file]::file-selector-button {
    padding: .2em .4em;
    border: 1px solid transparent;
    border-radius: .2em;
    background-color: #ffa000;
}