.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-container {
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.App-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.App-nav-element {
  height: 100%;
}

.App-nav-element:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.App-nav-link {
  height: calc(100% - 20px);
  height: -moz-calc(100% - 18px);
  height: -webkit-calc(100% - 18px);
  height: -o-calc(100% - 18px);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  background-color: bisque;
  color: white;
  height: 50px;
  width: 100%;
}

.is-active {
  background-color: rgba(0, 0, 0, 0.3);
}
